@import url("https://use.fontawesome.com/releases/v5.6.3/css/all.css");

html body {
  font-size: 82px;
  margin: 44px;
  background-color: rgb(181, 236, 218);
}

a {
  color: #aaa;
}
a:hover {
  color: #fd8a07;
}
.container {
  display: flex;
  margin: 6px 12px;
}
.container2 {
  background-color: #333;
  margin: 0 18px;
  padding: 1px 28px 4px;
  border-radius: 12px;
  height: 80vh;
  font-size: 22px;
  color: #fff;
}
.chapter {
  display: flex;
  list-style: none;
  flex-grow: 1;
  transition: all 1.6s ease-in-out;
  background-color: #333;
  margin: 6px;
  padding: 8px;
  border-radius: 8px;
  font-size: 18px;
  color: #aaa;
  align-items: flex-end;
}
.chapter div {
  border: solid 1px #fff;
}
.chapter > :first-child {
  width: 96px;
  font-size: 80px;
}
.chapter:hover {
  flex-grow: 400;
  color: #fd8a07 !;
}

.menu {
  font-size: 12px;
}
.char {
  font-size: 18px;
}
